* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #777;
}

h3 {
  font-size: 1.1em;
}

img {
  display: block;
  width: 100%;
}

.wrap {
  width: 60%;
  margin: 0 auto;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 15px;
  background: #00234b;
}

input.search {
  background: #fff;
  height: 2em;
  padding: 0 10px;
  cursor: pointer;
}

button.search {
  background: #f7485f;
  height: 2.2em;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

ul { list-style: none; }

ul.list-select {
  flex-basis: 50%;
  position: absolute;
  width: 30%;
  top: 50%;
  left: 35%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #666;
}

ul.list-select li {
  padding: 0.5em 2em;
  border-top: 1px solid #00234b;
  cursor: pointer;
}

ul.list-select li:first-child {
  border: 0;
}

ul.list-select li:hover {
  background: #ddd;
}

.list-body {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 1px 1px 3px #666;
}

.list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-item:hover {
  background: #ddd;
}

.item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px 0;
}

.flex-title {
  flex-basis: 100%;
  color: #f7485f;
}

.flex-image {
  flex: 2 1 0;
  margin-right: 15px;
  min-width: 200px;
}

.flex-desc {
  flex: 3 1 0;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.flex-desc p {
  flex: 1 1 0;
  padding: 6px;
}

.flex-desc p:nth-child(odd) {
  background: #eee;
}